#!/usr/bin/make -f

%:
	    dh $@ --with python2

override_dh_clean:
	-rm config.log
	-rm config.status
	dh_clean

override_dh_install:
	dh_install
	python setup.py install --root=$(CURDIR)/debian/python-eyed3 --install-layout=deb
